@import url("https://fonts.googleapis.com/css2?family=Alike&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Alike&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Alike&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@media (max-width: 380px) {
  .custom-height {
    height: 150vh;
  }
}

@media (max-width: 380px) {
  .custom-div {
    height: 150vh;
  }
}

.react-tel-input .form-control {
  border: 1px solid #e5e7eb !important;
  background-color: #f3f4f6 !important;
  width: 100% !important;
  height: 40px !important;
  padding-left: 48px !important;
  padding-right: 12px !important;
  font-size: 14px !important;
  border-radius: 0.375rem !important;
  outline: none !important;
  box-shadow: none !important;
}

.react-tel-input .form-control:focus {
  border: 1px solid #c6af83 !important;
  box-shadow: 0 0 0 2px #c6af83 !important;
  background-color: #f3f4f6 !important;
  outline: none !important;
}

.react-tel-input .flag-dropdown {
  background-color: #f3f4f6 !important;
  border: 1px solid #e5e7eb !important;
  border-right: none !important;
}
