@import url("https://fonts.googleapis.com/css2?family=Alike&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alike&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alike&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  background-color: #0a0a0a;
}

@media (min-height: 220px) and (max-height: 700px) {
  .mobileScreenResponsive {
    height: 70vh;
  }
}

@media (max-width: 380px) {
  .custom-height {
    height: 150vh;
  }

  .customMap-height {
    height: 400px;
  }
}

@media (max-width: 380px) {
  .custom-div {
    height: 130vh;
  }

  .iphoneSEHeight {
    height: 70vh !important;
  }

  .contactDiv {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

select option {
  font-family: "Montserrat", sans-serif !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.altara-mainForm .react-tel-input .form-control {
  color: white !important;
  border: 1px solid #d4af37 !important;
  background-color: #0a0a0a8c !important;
  width: 100% !important;
  height: 40px !important;
  padding-left: 48px !important;
  padding-right: 12px !important;
  font-size: 14px !important;
  border-radius: 0.375rem !important;
  outline: none !important;
  box-shadow: none !important;
}

.altara-mainForm .react-tel-input .form-control:focus {
  border: 1px solid #d4af37 !important;
  /* box-shadow: 0 0 0 2px #c6af83 !important;
  background-color: #f3f4f6 !important; */
  background-color: #0a0a0a8c !important;
  color: white !important;
  outline: none !important;
}

.altara-mainForm .react-tel-input .flag-dropdown {
  background-color: #0a0a0a8c !important;
  border: 1px solid #d4af37 !important;
  border-right: none !important;
  color: black !important;
}

.react-tel-input .form-control {
  /* color: white !important; */
  /* border: 2px solid #d4af37 !important; */
  /* background-color: #0a0a0a8c !important; */
  width: 100% !important;
  background-color: #f3f4f6 !important;
  height: 40px !important;
  padding-left: 48px !important;
  color: black !important;
  padding-right: 12px !important;
  font-size: 14px !important;
  border-radius: 0.375rem !important;
  outline: none !important;
  box-shadow: none !important;
}

.react-tel-input .form-control:focus {
  /* border: 2px solid #d4af37 !important; */
  /* box-shadow: 0 0 0 2px #c6af83 !important; */
  color: black !important;
  background-color: #f3f4f6 !important;
  outline: none !important;
}

.react-tel-input .flag-dropdown {
  /* background-color: #0a0a0a8c !important; */
  background-color: #f3f4f6 !important;
  /* border: 2px solid #d4af37 !important; */
  border-right: none !important;
  color: black !important;
}

@media (min-width: 1000px) and (max-width: 1024px) and (min-height: 1300px) {
  .ipadProStyles {
    width: 50vw !important;
    height: 40vh !important;
  }

  .ipadProText {
    font-size: 25px !important;
  }

  .ipadProInvestImg {
    height: 40vh !important;
  }

  .altairaProjectHeight {
    height: 60vh !important;
  }

  .ipadProHeroSectionHeight {
    height: 80vh !important;
  }

  .ipadProPadding {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
}

@media (min-width: 1680px) and (max-width: 1920px) {
  .largeScreensHeroSectionHeight {
    height: 85vh !important;
  }

  .largeScreensAltairaProjectSectionHeight {
    height: 40vh !important;
  }
}
